<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page 1 :: School, Coaching, Institute Course booking HTML Template</title>

    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="~/assets/css/fontawesome-all.css">
	<link rel="stylesheet" href="~/assets/css/flaticon.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/meanmenu.css">
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/video.min.css">
	<link rel="stylesheet" href="~/assets/css/lightbox.css">
	<link rel="stylesheet" href="~/assets/css/progess.css">
	<link rel="stylesheet" href="~/assets/css/animate.min.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
	<link rel="stylesheet" href="~/assets/css/responsive.css">

	<link rel="stylesheet" href="~/assets/css/colors/switch.css">
	<link href="~/assets/css/colors/color-2.css" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="~/assets/css/colors/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="~/assets/css/colors/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="~/assets/css/colors/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5">
	<link href="~/assets/css/colors/color-6.css" rel="alternate stylesheet" type="text/css" title="color-6">
	<link href="~/assets/css/colors/color-7.css" rel="alternate stylesheet" type="text/css" title="color-7">
	<link href="~/assets/css/colors/color-8.css" rel="alternate stylesheet" type="text/css" title="color-8">
	<link href="~/assets/css/colors/color-9.css" rel="alternate stylesheet" type="text/css" title="color-9">


</head>

  @*  <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">symphoni</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>*@

<header>
	<div id="main-menu" class="main-menu-container">
		<div class="main-menu">
			<div class="container">
				<div class="navbar-default">
					<div class="navbar-header float-left">
						<a class="navbar-brand text-uppercase" href="#"><img src="~/assets/img/logo/logo.png" alt="logo"></a>
					</div><!-- /.navbar-header -->


					<div class="cart-search float-right ul-li">
						<ul>
							<li><a href="check-out.html"><i class="fas fa-shopping-bag"></i></a></li>
							<li>
								<button type="button" class="toggle-overlay search-btn">
									<i class="fas fa-search"></i>
								</button>
								<div class="search-body">
									<div class="search-form">
										<form action="#">
											<input class="search-input" type="search" placeholder="Search Here">
											<div class="outer-close toggle-overlay">
												<button type="button" class="search-close">
													<i class="fas fa-times"></i>
												</button>
											</div>
										</form>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="log-in float-right">
						<a data-toggle="modal" data-target="#myModal" href="#">log in</a>
						<!-- The Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">

									<!-- Modal Header -->
									<div class="modal-header backgroud-style">
										<div class="gradient-bg"></div>
										<div class="popup-logo">
											<img src="~/assets/img/logo/p-logo.jpg" alt="">
										</div>
										<div class="popup-text text-center">
											<h2> <span>Login</span> Your Account.</h2>
											<p>Login to our website, or <span>REGISTER</span></p>
										</div>
									</div>

									<!-- Modal body -->
									<div class="modal-body">
										<div class="facebook-login">
											<a href="#">
												<div class="log-in-icon">
													<i class="fab fa-facebook-f"></i>
												</div>
												<div class="log-in-text text-center">
													Login with Facebook
												</div>
											</a>
										</div>
										<div class="alt-text text-center"><a href="#">OR SIGN IN</a> </div>
										<form class="contact_form" action="#" method="POST" enctype="multipart/form-data">
											<div class="contact-info">
												<input class="name" name="Email" type="email" placeholder="Your@email.com*">
											</div>
											<div class="contact-info">
												<input class="pass" name="name" type="password" placeholder="Your password*">
											</div>
											<div class="nws-button text-center white text-capitalize">
												<button type="submit" value="Submit">LOg in Now</button>
											</div>
										</form>
										<div class="log-in-footer text-center">
											<p>* Denotes mandatory field.</p>
											<p>** At least one telephone number is required.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<nav class="navbar-menu float-right">
						<div class="nav-menu ul-li">
							<ul>
								<li class="menu-item-has-children ul-li-block">
									<a href="index-1.html">Home</a>

								</li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="shop.html">shop</a></li>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="course.html">Course</a></li>
								<li><a href="faq.html">FAQ</a></li>

							</ul>
						</div>
					</nav>

					<div class="mobile-menu">
						<div class="logo"><a href="index-1.html"><img src="~/assets/img/logo/logo.png" alt="Logo"></a></div>
						<nav>
							<ul>
								<li>
									<a href="index-1.html">Home</a>
								</li>
								<li><a href="about.html">About</a></li>
								<li>
									<a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog</a></li>
										<li><a href="blog-single.html">Blog sinlge</a></li>
									</ul>
								</li>
								<li>
									<a href="shop.html">Shop</a>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="course.html">Course</a></li>
								<li><a href="faq.html">FAQ</a></li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="slide" class="slider-section">
	<div id="slider-item" class="slider-item-details">
		<div class="slider-area slider-bg-1 relative-position">
			<div class="slider-text">
				<div class="section-title mb20 headline text-center ">
					<div class="layer-1-1">
						<span class="subtitle text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
					</div>
					<div class="layer-1-3">
						<h2><span>Inventive</span> Solution <br> for <span>Education</span></h2>
					</div>
				</div>
				<div class="layer-1-4">
					<div id="course-btn">
						<div class="genius-btn  text-center text-uppercase ul-li-block bold-font">
							<a href="#">Our Courses <i class="fas fa-caret-right"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>
		@*<div class="slider-area slider-bg-2 relative-position">
			<div class="slider-text">
				<div class="section-title mb20 headline text-center ">
					<div class="layer-1-1">
						<span class="subtitle text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
					</div>
					<div class="layer-1-2">
						<h2 class="secoud-title"> Browse The <span>Best Courses.</span></h2>
					</div>
				</div>
				<div class="layer-1-3">
					<div class="search-course mb30 relative-position">
						<form action="#" method="post">
							<input class="course" name="course" type="text" placeholder="Type what do you want to learn today?">
							<div class="nws-button text-center  gradient-bg text-capitalize">
								<button type="submit" value="Submit">Search Course</button>
							</div>
						</form>
					</div>
					<div class="layer-1-4">
						<div class="slider-course-category ul-li text-center">
							<span class="float-left">BY CATEGORY:</span>
							<ul>
								<li>Graphics Design</li>
								<li>Web Design</li>
								<li>Mobile Application</li>
								<li>Enginering</li>
								<li>Science</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<footer>
	<section id="footer-area" class="footer-area-section">
		<div class="container">
			<div class="footer-content pb10">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-widget ">
							<div class="footer-logo mb35">
								<img src="~/assets/img/logo/f-logo.png" alt="">
							</div>
							<div class="footer-about-text">
								<p>We take our mission of increasing global access to quality education seriously. We connect learners to the best universities and institutions from around the world.</p>
								<p>Lorem ipsum dolor sit amet we take our mission of increasing global access to quality education seriously. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="footer-widget ">
							<div class="footer-menu ul-li-block">
								<h2 class="widget-title">Useful Links</h2>
								<ul>
									<li><a href="#"><i class="fas fa-caret-right"></i>About Us</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Responsive Website</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
								</ul>
							</div>
						</div>
						<div class="footer-menu ul-li-block ">
							<h2 class="widget-title">Account Info</h2>
							<ul>
								<li><a href="#"><i class="fas fa-caret-right"></i>Setting Account</a></li>
								<li><a href="#"><i class="fas fa-caret-right"></i>Login & Register</a></li>
								<li><a href="#"><i class="fas fa-caret-right"></i>Contact Us</a></li>
								<li><a href="#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
								<li><a href="#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
								<li><a href="#"><i class="fas fa-caret-right"></i>Responsive Website</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-widget ">
							<h2 class="widget-title">Photo Gallery</h2>
							<div class="photo-list ul-li">
								<ul>
									<li>
										<img src="~/assets/img/gallery/g-1.jpg" alt="">
										<div class="blakish-overlay"></div>
										<div class="pop-up-icon">
											<a href="~/assets/img/gallery/g-1.jpg" data-lightbox="roadtrip">
												<i class="fas fa-search"></i>
											</a>
										</div>
									</li>
									<li>
										<img src="~/assets/img/gallery/g-2.jpg" alt="">
										<div class="blakish-overlay"></div>
										<div class="pop-up-icon">
											<a href="~/assets/img/gallery/g-2.jpg" data-lightbox="roadtrip">
												<i class="fas fa-search"></i>
											</a>
										</div>
									</li>
									<li>
										<img src="~/assets/img/gallery/g-3.jpg" alt="">
										<div class="blakish-overlay"></div>
										<div class="pop-up-icon">
											<a href="~/assets/img/gallery/g-3.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
										</div>
									</li>
									<li>
										<img src="~/assets/img/gallery/g-4.jpg" alt="">
										<div class="blakish-overlay"></div>
										<div class="pop-up-icon">
											<a href="~/assets/img/gallery/g-4.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
										</div>
									</li>
									<li>
										<img src="~/assets/img/gallery/g-5.jpg" alt="">
										<div class="blakish-overlay"></div>
										<div class="pop-up-icon">
											<a href="~/assets/img/gallery/g-5.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
										</div>
									</li>
									<li>
										<img src="~/assets/img/gallery/g-6.jpg" alt="">
										<div class="blakish-overlay"></div>
										<div class="pop-up-icon">
											<a href="~/assets/img/gallery/g-6.jpg" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
										</div>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /footer-widget-content -->
			<div class="footer-social-subscribe mb65">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-social ul-li ">
							<h2 class="widget-title">Social Network</h2>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<div class="subscribe-form ">
							<h2 class="widget-title">Subscribe Newsletter</h2>

							<div class="subs-form relative-position">
								<form action="#" method="post">
									<input class="course" name="course" type="email" placeholder="Email Address.">
									<div class="nws-button text-center  gradient-bg text-uppercase">
										<button type="submit" value="Submit">Subscribe now</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="copy-right-menu">
				<div class="row">
					<div class="col-md-6">
						<div class="copy-right-text">
							<p>© 2018 - Designed & Developed by <a href="https://jthemes.com/" title="Best Premium WordPress, HTML Template Store"> Jthemes Studio</a>. All rights reserved</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="copy-right-menu-item float-right ul-li">
							<ul>
								<li><a href="#">License</a></li>
								<li><a href="#">Privacy & Policy</a></li>
								<li><a href="#">Term Of Service</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
	

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</html>
